<!DOCTYPE html>
<hmtl lang="en" dir="ltr>"
    <head>
        <meta charset="utf-8">
        <title>server</title>
    </head>
    <body>
        <h1>it' a <%= preday %></h1>
    </body>
</html>